Repository NNPDF/nnpdf, pull requests merged in 2023-08, with the labels that each got.

#1777 Refactor preprocessing
  n3fit/src/n3fit/layers/preprocessing.py
  n3fit/src/n3fit/tests/test_preprocessing.py
Labels: Refactoring, n3fit

#1789 Use evolven3fit_new with the fitbot
  .github/workflows/fitbot.yml
Labels: run-fit-bot

#1793 Mamba ci
  .github/workflows/tests.yml
Labels: devtools

#1781 Refactor msr
  n3fit/src/n3fit/backends/keras_backend/operations.py
  n3fit/src/n3fit/layers/msr_normalization.py
  n3fit/src/n3fit/model_gen.py
  n3fit/src/n3fit/msr.py
  n3fit/src/n3fit/tests/test_msr.py
Labels: easy, Refactoring, n3fit, run-fit-bot
