Repository NNPDF/nnpdf, pull requests merged in 2024-03, with the labels that each got.

#1949 Add a library of process dependent options
  validphys2/src/validphys/commondataparser.py
  validphys2/src/validphys/coredata.py
  validphys2/src/validphys/cuts/filters.yaml
  validphys2/src/validphys/datafiles/new_commondata/BCDMS_NC_NOTFIXED_D_DW/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/BCDMS_NC_NOTFIXED_P_DW/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CDF_Z0_1P96TEV/data_legacy_ZRAP.yaml
  validphys2/src/validphys/datafiles/new_commondata/CDF_Z0_1P96TEV/kinematics_ZRAP.yaml
  validphys2/src/validphys/datafiles/new_commondata/CDF_Z0_1P96TEV/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CDF_Z0_1P96TEV/uncertainties_legacy_ZRAP.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_1JET_8TEV/kinematics.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_1JET_8TEV/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_WPWM_1P96TEV/data_legacy_ASY.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_WPWM_1P96TEV/kinematics_ASY.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_WPWM_1P96TEV/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_WPWM_1P96TEV/uncertainties_legacy_ASY.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_Z0_1P96TEV/data_legacy_ZRAP.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_Z0_1P96TEV/kinematics_ZRAP.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_Z0_1P96TEV/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/D0_Z0_1P96TEV/uncertainties_legacy_ZRAP.yaml
  validphys2/src/validphys/datafiles/new_commondata/dataset_names.yml
  validphys2/src/validphys/filters.py
  validphys2/src/validphys/loader.py
  validphys2/src/validphys/plotoptions/core.py
  validphys2/src/validphys/process_options.py
  validphys2/src/validphys/tests/test_filter_rules.py
Labels: data toolchain

#1708 Docs for new commondata format
  conda-recipe/meta.yaml
  doc/sphinx/source/conf.py
  doc/sphinx/source/data/commondata.rst
  doc/sphinx/source/data/data-config.rst
  doc/sphinx/source/data/dataset-naming-convention.md
  doc/sphinx/source/data/dataset-naming-convention.rst
  doc/sphinx/source/data/example-fk-preamble.rst
  doc/sphinx/source/data/exp-data-files.rst
  doc/sphinx/source/data/fk-config-variables.rst
  doc/sphinx/source/data/index.rst
  doc/sphinx/source/data/intro.rst
  doc/sphinx/source/data/plotting-format.rst
  doc/sphinx/source/data/plotting_format.md
  doc/sphinx/source/external-code/apfelcomb.md
  doc/sphinx/source/external-code/index.rst
  doc/sphinx/source/get-started/index.rst
  doc/sphinx/source/index.rst
  doc/sphinx/source/theory/PTevol.rst
  doc/sphinx/source/theory/index.rst
  doc/sphinx/source/theory/theoryindex.rst
  doc/sphinx/source/tutorials/apfelcomb.md
  doc/sphinx/source/tutorials/index.rst
  pyproject.toml
  validphys2/src/validphys/datafiles/disp_theory.py
Labels: documentation, data toolchain

#1980 Remove cmake, make the conda recipe architecture independent
  CMakeLists.txt
  conda-recipe/build.sh
  conda-recipe/conda_build_config.yaml
  conda-recipe/meta.yaml
  conda-recipe/run_test.sh
  evolven3fit/CMakeLists.txt
  evolven3fit/evolgrid.cc
  evolven3fit/evolgrid.h
  evolven3fit/evolven3fit.cc.in
  evolven3fit/exportgrid.cc
  evolven3fit/exportgrid.h
  evolven3fit/varflavors.py
  libnnpdf/CMakeLists.txt
  libnnpdf/nnprofile.yaml.in
  libnnpdf/scripts/nnpdf.pc.in
  libnnpdf/src/NNPDF/chisquared.h
  libnnpdf/src/NNPDF/common.h.in
  libnnpdf/src/NNPDF/commondata.h
  libnnpdf/src/NNPDF/config.h.in
  libnnpdf/src/NNPDF/dataset.h
  libnnpdf/src/NNPDF/exceptions.h
  libnnpdf/src/NNPDF/experiments.h
  libnnpdf/src/NNPDF/fastkernel.h
  libnnpdf/src/NNPDF/fkgenerator.h
  libnnpdf/src/NNPDF/fkset.h
  libnnpdf/src/NNPDF/lhapdfset.h
  libnnpdf/src/NNPDF/logger.h
  libnnpdf/src/NNPDF/nnmpi.h
  libnnpdf/src/NNPDF/nnpdfdb.h
  libnnpdf/src/NNPDF/parametrisation.h
  libnnpdf/src/NNPDF/pathlib.h
  libnnpdf/src/NNPDF/pdfset.h
  libnnpdf/src/NNPDF/positivity.h
  libnnpdf/src/NNPDF/randomgenerator.h
  libnnpdf/src/NNPDF/thpredictions.h
  libnnpdf/src/NNPDF/timer.h
  libnnpdf/src/NNPDF/utils.h
  libnnpdf/src/chisquared.cc
  libnnpdf/src/common.cc
  libnnpdf/src/commondata.cc
  libnnpdf/src/dataset.cc
  libnnpdf/src/experiments.cc
  libnnpdf/src/fastkernel.cc
  libnnpdf/src/fkgenerator.cc
  libnnpdf/src/fkset.cc
  libnnpdf/src/lhapdfset.cc
  libnnpdf/src/logger.cc
  libnnpdf/src/nnmpi.cc
  libnnpdf/src/nnpdfdb.cc
  libnnpdf/src/parametrisation.cc
  libnnpdf/src/pathlib.cc
  libnnpdf/src/pdfset.cc
  libnnpdf/src/positivity.cc
  libnnpdf/src/randomgenerator.cc
  libnnpdf/src/thpredictions.cc
  libnnpdf/src/utils.cc
  pyproject.toml
Labels: destroyingc++

#1981 Rename evolven3fit_new to evolven3fit + remove varflavors
  .github/workflows/fitbot.yml
  .gitignore
  doc/sphinx/source/get-started/installation.rst
  doc/sphinx/source/tutorials/index.rst
  doc/sphinx/source/tutorials/nf_variation.rst
  doc/sphinx/source/tutorials/run-fit.md
  n3fit/src/evolven3fit/__init__.py
  n3fit/src/evolven3fit/cli.py
  n3fit/src/evolven3fit/eko_utils.py
  n3fit/src/evolven3fit/evolve.py
  n3fit/src/evolven3fit/q2grids.py
  n3fit/src/evolven3fit/utils.py
  n3fit/src/n3fit/io/writer.py
  n3fit/src/n3fit/scripts/evolven3fit.py
  n3fit/src/n3fit/scripts/varflavors.py
  n3fit/src/n3fit/tests/test_evolven3fit.py
  pyproject.toml
Labels: run-fit-bot

#1987 don't install SDK for mac in CI tests
  .github/workflows/tests.yml
Labels: devtools

#1726 Hyperopt loss
  doc/sphinx/source/n3fit/hyperopt.rst
  n3fit/runcards/examples/Basic_hyperopt.yml
  n3fit/src/n3fit/checks.py
  n3fit/src/n3fit/hyper_optimization/hyper_scan.py
  n3fit/src/n3fit/hyper_optimization/penalties.py
  n3fit/src/n3fit/hyper_optimization/rewards.py
  n3fit/src/n3fit/model_trainer.py
  n3fit/src/n3fit/performfit.py
  n3fit/src/n3fit/tests/test_hyperopt.py
  n3fit/src/n3fit/vpinterface.py
Labels: escience

#1921 Parallel hyperoptimization with MongoDB
  .github/workflows/python_installation.yml
  conda-recipe/meta.yaml
  doc/sphinx/source/n3fit/hyperopt.rst
  n3fit/src/n3fit/backends/__init__.py
  n3fit/src/n3fit/backends/keras_backend/internal_state.py
  n3fit/src/n3fit/hyper_optimization/hyper_scan.py
  n3fit/src/n3fit/hyper_optimization/mongofiletrials.py
  n3fit/src/n3fit/scripts/n3fit_exec.py
  n3fit/src/n3fit/tests/test_hyperopt.py
  pyproject.toml
Labels: enhancement, n3fit, performance, escience

#1923 Make weight initialization reproducible
  .github/workflows/fitbot.yml
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_csr_613.exportgrid
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.exportgrid
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/trainable_prepro_61.json
  n3fit/src/n3fit/backends/__init__.py
  n3fit/src/n3fit/backends/keras_backend/base_layers.py
  n3fit/src/n3fit/backends/keras_backend/constraints.py
  n3fit/src/n3fit/backends/keras_backend/multi_dense.py
  n3fit/src/n3fit/layers/preprocessing.py
  n3fit/src/n3fit/model_gen.py
  n3fit/src/n3fit/tests/regressions/quickcard-parallel.yml
  n3fit/src/n3fit/tests/regressions/quickcard-sequential.yml
  n3fit/src/n3fit/tests/test_fit.py
  n3fit/src/n3fit/tests/test_hyperopt.py
  n3fit/src/n3fit/tests/test_multidense.py
  n3fit/src/n3fit/tests/test_preprocessing.py
Labels: run-fit-bot, escience, redo-regressions

#1994 Add a test for all commondata files
  extra_tests/regression_fits/central_16.exportgrid
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.exportgrid
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.exportgrid
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_csr_613.exportgrid
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.exportgrid
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.exportgrid
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.exportgrid
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.exportgrid
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.exportgrid
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/trainable_prepro_61.exportgrid
  extra_tests/regression_fits/trainable_prepro_61.json
  validphys2/src/validphys/commondataparser.py
  validphys2/src/validphys/loader.py
  validphys2/src/validphys/plotoptions/kintransforms.py
  validphys2/src/validphys/process_options.py
  validphys2/src/validphys/tests/test_datafiles.py
Labels: redo-regressions

#2006 W -> l v, pseudo rap, bug fix
  validphys2/src/validphys/datafiles/new_commondata/CMS_WPWM_13TEV_ETA/metadata.yaml
Labels: data toolchain
