Repository NNPDF/nnpdf, pull requests merged in 2024-01, with the labels that each got.

#1881 Merge prefactors into single layer
  n3fit/runcards/examples/developing_weights.h5
  n3fit/src/n3fit/backends/__init__.py
  n3fit/src/n3fit/backends/keras_backend/MetaModel.py
  n3fit/src/n3fit/layers/msr_normalization.py
  n3fit/src/n3fit/layers/preprocessing.py
  n3fit/src/n3fit/model_gen.py
  n3fit/src/n3fit/model_trainer.py
  n3fit/src/n3fit/tests/regressions/weights_1.h5
  n3fit/src/n3fit/tests/regressions/weights_2.h5
  n3fit/src/n3fit/tests/test_modelgen.py
  n3fit/src/n3fit/tests/test_preprocessing.py
  n3fit/src/n3fit/vpinterface.py
Labels: Refactoring, n3fit, run-fit-bot, escience

#1922 Update fit bot for 4.0.8
  .github/workflows/fitbot.yml
  n3fit/src/n3fit/backends/keras_backend/MetaModel.py
  validphys2/src/validphys/tests/photon/test_compute.py
Labels: run-fit-bot

#1799 Add an `lhapdf_compatibility` module for LHAPDF
  n3fit/src/n3fit/backends/keras_backend/internal_state.py
  validphys2/src/validphys/app.py
  validphys2/src/validphys/checks.py
  validphys2/src/validphys/lhaindex.py
  validphys2/src/validphys/lhapdf_compatibility.py
  validphys2/src/validphys/lhapdfset.py
  validphys2/src/validphys/lhio.py
Labels: destroyingc++, run-fit-bot, devtools
