Repository NNPDF/nnpdf, pull requests merged in 2024-11, with the labels that each got.

#2196 dynamically set year for the docs
  doc/sphinx/source/conf.py
Labels: documentation

#2203 Old commondata thcovamat compatibility
  validphys2/src/validphys/covmats.py
Labels: bug

#2187 Add uncertainty variants for select datasets
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/uncertainties_altcorr1_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/uncertainties_altcorr1_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/uncertainties_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_2JET_13TEV_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_2JET_13TEV_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_2JET_13TEV_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_2JET_13TEV_DIF/uncertainties_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_HADR_DIF/artunc.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_HADR_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_HADR_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_HADR_DIF/uncertainties_d2Sig_dmttBar_dyttBar_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_HADR_DIF/uncertainties_dSig_dmttBar_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_HADR_DIF/uncertainties_dSig_dyttBar_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/lumiless_covmat.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dmttBar_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dpTt_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dyt_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dyttBar_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_1JET_13TEV_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_1JET_13TEV_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_1JET_13TEV_DIF/uncertainties_r04_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_1JET_13TEV_DIF/uncertainties_r04_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_1JET_13TEV_DIF/uncertainties_r07_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_1JET_13TEV_DIF/uncertainties_r07_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_290PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_290PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_290PB-1_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_290PB-1_DIF/uncertainties_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_351PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_351PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_351PB-1_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_1JET_319GEV_351PB-1_DIF/uncertainties_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_290PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_290PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_290PB-1_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_290PB-1_DIF/uncertainties_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_351PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_351PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_351PB-1_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/H1_2JET_319GEV_351PB-1_DIF/uncertainties_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_300GEV_38P6PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_300GEV_38P6PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_300GEV_38P6PB-1_DIF/uncertainties_q2_et_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_300GEV_38P6PB-1_DIF/uncertainties_q2_et_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_319GEV_82PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_319GEV_82PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_319GEV_82PB-1_DIF/uncertainties_q2_et_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_1JET_319GEV_82PB-1_DIF/uncertainties_q2_et_wo-lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_2JET_319GEV_374PB-1_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ZEUS_2JET_319GEV_374PB-1_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_2JET_319GEV_374PB-1_DIF/uncertainties_q2_et_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ZEUS_2JET_319GEV_374PB-1_DIF/uncertainties_q2_et_wo-lumi.yaml
  nnpdf_data/nnpdf_data/filter_utils/utils.py
Labels: data toolchain, Done

#2220 Update plottings for the collider LHCb datasets
  nnpdf_data/nnpdf_data/commondata/LHCB_DY_7TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_DY_7TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_DY_7TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_DY_8TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_DY_8TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_DY_8TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_WPWM_7TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_WPWM_7TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_WPWM_7TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_WPWM_8TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_WPWM_8TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_WPWM_8TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/kinematics_dielectron.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/kinematics_dimuon.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_7TEV_DIELECTRON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_7TEV_DIELECTRON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_7TEV_DIELECTRON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_7TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_7TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_7TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_8TEV_DIELECTRON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_8TEV_DIELECTRON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_8TEV_DIELECTRON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_8TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_8TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_8TEV_MUON/metadata.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain

#2191 Update `matplotlib` version
  .github/workflows/python_installation.yml
  conda-recipe/meta.yaml
  conda-recipe/run_test.sh
  pyproject.toml
  validphys2/src/validphys/dataplots.py
  validphys2/src/validphys/plotutils.py
  validphys2/src/validphys/tests/baseline/test_plotfancy.png
  validphys2/src/validphys/tests/test_plots.py
Labels: dependencies

#2189 Re-implementation of ATLAS single top
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/data_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/kinematics_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/rawdata/HEPData-ins1486394-v1-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/rawdata/HEPData-ins1486394-v1-Table_4.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_13TEV/uncertainties_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/data_T-Y-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/data_TBAR-Y-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/data_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/kinematics_T-Y-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/kinematics_TBAR-Y-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/kinematics_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_17.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_18.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_2.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_26.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_27.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_34.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/rawdata/HEPData-ins1303905-v2-Table_35.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/uncertainties_T-Y-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/uncertainties_TBAR-Y-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_7TEV/uncertainties_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/data_T-RAP-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/data_TBAR-RAP-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/data_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/kinematics_T-RAP-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/kinematics_TBAR-RAP-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/kinematics_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_28.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_29.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_52.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_53.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_77.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_79.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/rawdata/HEPData-ins1512776-v2-Table_8.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/uncertainties_T-RAP-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/uncertainties_TBAR-RAP-NORM.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_SINGLETOP_8TEV/uncertainties_TCHANNEL-XSEC.yaml
  validphys2/src/validphys/commondataparser.py
  validphys2/src/validphys/process_options.py
Labels: data toolchain, Done

#2185 Tevatron inclusive DY
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/data_ZRAP.yaml
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/kinematics_ZRAP.yaml
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/rawdata/HEPData-ins856131-v1-Table_2.yaml
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/rawdata/error_propagator_g++_032610.C
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/rawdata/systematics.dat
  nnpdf_data/nnpdf_data/commondata/CDF_Z0_1P96TEV/uncertainties_ZRAP.yaml
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/compatibility.py
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/data_ASY.yaml
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/kinematics_ASY.yaml
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/rawdata/HEPData-ins1253555-v1-Table_1.yaml
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/rawdata/HEPData-ins1253555-v1-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/D0_WPWM_1P96TEV/uncertainties_ASY.yaml
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/compatibility.py
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/data_ZRAP.yaml
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/kinematics_ZRAP.yaml
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/rawdata/HEPData-ins744624-v1-Table_1.yaml
  nnpdf_data/nnpdf_data/commondata/D0_Z0_1P96TEV/uncertainties_ZRAP.yaml
  validphys2/src/validphys/commondataparser.py
  validphys2/src/validphys/process_options.py
  validphys2/src/validphys/tests/conftest.py
Labels: data toolchain, Done

#2200 Re-implementation of CMS single top
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_13TEV/data_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_13TEV/kinematics_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_13TEV/uncertainties_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_7TEV/data_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_7TEV/kinematics_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_7TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_7TEV/uncertainties_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_8TEV/data_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_8TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_8TEV/kinematics_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_8TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_8TEV/rawdata/HEPData-ins1287736-v1-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_8TEV/uncertainties_TCHANNEL-XSEC.yaml
Labels: data toolchain, Done

#2229 Update regression tests
  .github/workflows/redo_regressions.yml
  .github/workflows/regression_tests.yml
  extra_tests/regression_fits/central_16.exportgrid
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.exportgrid
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.exportgrid
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_csr_613.exportgrid
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.exportgrid
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.exportgrid
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.exportgrid
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.exportgrid
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.exportgrid
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/polarized_evol_34.exportgrid
  extra_tests/regression_fits/polarized_evol_34.json
  extra_tests/regression_fits/t0theoryid_100.exportgrid
  extra_tests/regression_fits/t0theoryid_100.json
  extra_tests/regression_fits/trainable_prepro_61.exportgrid
  extra_tests/regression_fits/trainable_prepro_61.json
Labels: redo-regressions

#2209 Re-implementation of ATLAS prompt photon production
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/data_XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/kinematics_XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/rawdata/HEPData-ins1510441-v1-Table_1.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/rawdata/HEPData-ins1510441-v1-Table_2.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/rawdata/HEPData-ins1510441-v1-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/rawdata/HEPData-ins1510441-v1-Table_4.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_13TEV/uncertainties_XSEC.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain

#2230 PR to run fitbot
  .github/workflows/fitbot.yml
Labels: run-fit-bot

#2232 Run fitbot with pip and not conda
  .github/workflows/fitbot.yml
  conda-recipe/meta.yaml
Labels: run-fit-bot
