Repository NNPDF/nnpdf, pull requests merged in 2024-07, with the labels that each got.

#2123 Polarised scale variation theories
  nnpdf_data/nnpdf_data/theory_cards/20000000.yaml
  nnpdf_data/nnpdf_data/theory_cards/20000001.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001001.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001002.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001003.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001004.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001005.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001006.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001007.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001008.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001009.yaml
  nnpdf_data/nnpdf_data/theory_cards/20001010.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002001.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002002.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002003.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002004.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002005.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002006.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002007.yaml
  nnpdf_data/nnpdf_data/theory_cards/20002008.yaml
  validphys2/src/validphys/scalevariations/pointprescriptions.yaml
  validphys2/src/validphys/scalevariations/scalevariationtheoryids.yaml
Labels: Polarised

#2122 Allow for F1 FKtables in G1F1 ratio
  nnpdf_data/nnpdf_data/new_commondata/E155_NC_9GEV_EN/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/E155_NC_9GEV_EP/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/JLABE06_NC_3GEV_EN/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/JLABE99_NC_3GEV_EN/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/JLABEG1B_NC_NOTFIXED_ED/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/JLABEG1B_NC_NOTFIXED_EP/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/JLABEG1DVCS_NC_3GEV_EP/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/JLABEG1DVCS_NC_5GEV_ED/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/SMCSX_NC_17GEV_MUP/metadata.yaml
  nnpdf_data/nnpdf_data/new_commondata/SMCSX_NC_24GEV_MUD/metadata.yaml
Labels: data toolchain, Polarised

#2124 Adds integrability datasets for DV and DV3
  nnpdf_data/nnpdf_data/new_commondata/NNPDF_INTEG_1GEV/kinematics_XDELTA.yaml
  nnpdf_data/nnpdf_data/new_commondata/NNPDF_INTEG_1GEV/kinematics_XDELTASIGMA.yaml
  nnpdf_data/nnpdf_data/new_commondata/NNPDF_INTEG_1GEV/metadata.yaml
Labels: Polarised

#1939 Avoid idle gpu
  extra_tests/regression_fits/central_16.exportgrid
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.exportgrid
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.exportgrid
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.exportgrid
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_csr_613.exportgrid
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.exportgrid
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.exportgrid
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.exportgrid
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.exportgrid
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.exportgrid
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/polarized_evol_34.json
  extra_tests/regression_fits/single_dense_316.exportgrid
  extra_tests/regression_fits/single_dense_316.json
  extra_tests/regression_fits/trainable_prepro_61.exportgrid
  extra_tests/regression_fits/trainable_prepro_61.json
  n3fit/src/n3fit/backends/keras_backend/MetaLayer.py
  n3fit/src/n3fit/backends/keras_backend/MetaModel.py
  n3fit/src/n3fit/backends/keras_backend/callbacks.py
  n3fit/src/n3fit/stopping.py
Labels: n3fit, performance, run-fit-bot, escience

#2128 move `separate_multiplicative` key outside `sampling` key in runcard
  extra_tests/regression_fits/trainable_prepro.yml
  n3fit/runcards/examples/Basic_feature_scaling.yml
  n3fit/runcards/examples/Basic_hyperopt.yml
  n3fit/runcards/examples/Basic_runcard.yml
  n3fit/runcards/examples/Basic_runcard_closure_test.yml
  n3fit/runcards/examples/Basic_runcard_parallel.yml
  n3fit/runcards/examples/DIS_diagonal_l2reg_example.yml
  n3fit/runcards/examples/developing.yml
  n3fit/src/n3fit/scripts/n3fit_exec.py
  n3fit/src/n3fit/tests/regressions/quickcard-sequential.yml
  n3fit/src/n3fit/tests/regressions/quickcard.yml
  n3fit/src/n3fit/tests/regressions/quickcard_pol.yml
  n3fit/src/n3fit/tests/regressions/quickcard_qed.yml
  validphys2/src/validphys/config.py
  validphys2/src/validphys/filters.py
  validphys2/src/validphys/pseudodata.py
  validphys2/src/validphys/tests/test_overfit_metric.py
  validphys2/src/validphys/tests/test_pseudodata.py
Labels: bug

#2129 Bump pineappl version
  conda-recipe/meta.yaml
  pyproject.toml
  validphys2/examples/API_extension_Pineappl.ipynb
  validphys2/src/validphys/photon/structure_functions.py
  validphys2/src/validphys/pineparser.py
  validphys2/src/validphys/tests/photon/test_structurefunctions.py
Labels: dependencies

#2133 Refactor boundary condition as part of the PDF object
  conda-recipe/meta.yaml
  extra_tests/regression_fits/central_16.exportgrid
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.exportgrid
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_csr_613.exportgrid
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.exportgrid
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.exportgrid
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.exportgrid
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.exportgrid
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.exportgrid
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/polarized_evol.yml
  extra_tests/regression_fits/polarized_evol_34.exportgrid
  extra_tests/regression_fits/polarized_evol_34.json
  extra_tests/regression_fits/single_dense_316.exportgrid
  extra_tests/regression_fits/single_dense_316.json
  extra_tests/regression_fits/trainable_prepro_61.exportgrid
  extra_tests/regression_fits/trainable_prepro_61.json
  n3fit/runcards/examples/nnpdfpol20_dis_nlo.yml
  n3fit/runcards/examples/nnpdfpol20_dis_nlo_mhou.yml
  n3fit/src/n3fit/layers/observable.py
  n3fit/src/n3fit/tests/regressions/quickcard_pol.yml
  n3fit/src/n3fit/tests/regressions/quickcard_pol_1.exportgrid
  n3fit/src/n3fit/tests/regressions/quickcard_pol_1.json
  n3fit/src/n3fit/tests/regressions/quickcard_pol_3.exportgrid
  n3fit/src/n3fit/tests/regressions/quickcard_pol_3.json
  validphys2/src/validphys/comparefittemplates/comparecard_polarized.yaml
  validphys2/src/validphys/config.py
  validphys2/src/validphys/convolution.py
  validphys2/src/validphys/core.py
  validphys2/src/validphys/coredata.py
  validphys2/src/validphys/fkparser.py
  validphys2/src/validphys/pineparser.py
  validphys2/src/validphys/results.py
  validphys2/src/validphys/theorycovariance/theorycovarianceutils.py
Labels: Polarised, redo-regressions

#2135 Disable jit compilation in tf > 2.16
  n3fit/src/n3fit/backends/keras_backend/MetaModel.py
  n3fit/src/n3fit/stopping.py
Labels: n3fit, run-fit-bot
