Repository NNPDF/nnpdf, pull requests merged in 2024-10, with the labels that each got.

#2165 Update feature scaling
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.exportgrid
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/multi_dense_316.json
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/polarized_evol_34.json
  extra_tests/regression_fits/trainable_prepro_61.json
  n3fit/src/n3fit/model_trainer.py
  n3fit/src/n3fit/scaler.py
  nnprofile_example.yaml
Labels: redo-regressions

#2172 Hessian 2 MC
  doc/sphinx/source/tutorials/hessian2mc.rst
  doc/sphinx/source/tutorials/index.rst
  validphys2/examples/hessian_2mc.yaml
  validphys2/src/validphys/app.py
  validphys2/src/validphys/checks.py
  validphys2/src/validphys/hessian2mc.py
  validphys2/src/validphys/tests/test_hessian2mc.py
Labels: Feature request, validphys

#2184 Apple Silicon GPU compatibility for Tensorflow
  doc/sphinx/source/n3fit/runcard_detailed.rst
Labels: documentation

#2168 Parallelize Evolution at the level of `evolven3fit`
  conda-recipe/meta.yaml
  n3fit/src/evolven3fit/cli.py
  n3fit/src/evolven3fit/evolve.py
  n3fit/src/n3fit/scripts/evolven3fit.py
  pyproject.toml
Labels: enhancement, run-fit-bot

#1982 Polish analysis of a multiclosure test
  validphys2/examples/pca_bias_variance_report.yaml
  validphys2/src/validphys/closuretest/__init__.py
  validphys2/src/validphys/closuretest/inconsistent_closuretest/multiclosure_inconsistent_output.py
  validphys2/src/validphys/closuretest/inconsistent_closuretest/report_template/lambdavalues_report.yaml
  validphys2/src/validphys/closuretest/inconsistent_closuretest/report_template/multiclosure_analysis_report.yaml
  validphys2/src/validphys/closuretest/inconsistent_closuretest/report_template/multiclosure_template.md
  validphys2/src/validphys/closuretest/inconsistent_closuretest/report_template/pca_template.md
  validphys2/src/validphys/closuretest/inconsistent_closuretest/report_template/ratio_biasvar_template.md
  validphys2/src/validphys/closuretest/inconsistent_closuretest/report_template/single_point_template.md
  validphys2/src/validphys/closuretest/multiclosure.py
  validphys2/src/validphys/closuretest/multiclosure_output.py
  validphys2/src/validphys/closuretest/runcards/old_rbv_definition.yaml
Labels: closure tests

#2163 Add LO polarized theories
  nnpdf_data/nnpdf_data/theory_cards/41100020.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100021.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100022.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100023.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100024.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100025.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100026.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100027.yaml
  nnpdf_data/nnpdf_data/theory_cards/41100028.yaml
  validphys2/src/validphys/scalevariations/scalevariationtheoryids.yaml
Labels: Polarised
