Repository NNPDF/nnpdf, pull requests merged in 2024-12, with the labels that each got.

#2192 Exterminate k1,k2,k3 from Fixed target data
  nnpdf_data/nnpdf_data/commondata/BCDMS_NC_NOTFIXED_D/kinematics_EM-F2.yaml
  nnpdf_data/nnpdf_data/commondata/BCDMS_NC_NOTFIXED_D/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/BCDMS_NC_NOTFIXED_P/kinematics_EM-F2.yaml
  nnpdf_data/nnpdf_data/commondata/BCDMS_NC_NOTFIXED_P/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/NMC_NC_NOTFIXED_P/kinematics_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/NMC_NC_NOTFIXED_P/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/SLAC_NC_NOTFIXED_D/kinematics_EM-F2.yaml
  nnpdf_data/nnpdf_data/commondata/SLAC_NC_NOTFIXED_D/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/SLAC_NC_NOTFIXED_P/kinematics_EM-F2.yaml
  nnpdf_data/nnpdf_data/commondata/SLAC_NC_NOTFIXED_P/metadata.yaml
Labels: run-fit-bot, data toolchain

#2236 Implementation of ATLAS_WCHARM_7TEV in the new format
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/data_WM-YL.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/data_WP-YL.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/kinematics_WM-YL.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/kinematics_WP-YL.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/rawdata/Table12.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/rawdata/Table13.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/rawdata/Table3.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/uncertainties_WM-YL.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/uncertainties_WP-YL.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/uncertainties_legacy_WM-YL_sys_10.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WCHARM_7TEV/uncertainties_legacy_WP-YL_sys_10.yaml
Labels: data toolchain, ATLAS_DY_DATA, Done

#2210 Implementation of ATLAS_WJ_8TEV in the new format
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/data_WM-PT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/data_WP-PT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/kinematics_WM-PT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/kinematics_WP-PT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/rawdata/data13.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/rawdata/data14.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/rawdata/data15.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/uncertainties_WM-PT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/uncertainties_WP-PT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/uncertainties_legacy_WM-PT_sys_ATLAS.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/uncertainties_legacy_WM-PT_sys_NP.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/uncertainties_legacy_WP-PT_sys_ATLAS.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WJ_8TEV/uncertainties_legacy_WP-PT_sys_NP.yaml
  validphys2/src/validphys/cuts/filters.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain, ATLAS_DY_DATA, Done

#2178 Reimplement ATLAS_Z0_7TEV_49FB_HIMASS
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/rawdata/ATLAS-49fb-Zhighmass.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/rawdata/ATLAS-49fb-Zhighmass.sys
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/rawdata/HEPData-ins1234228-v1-Table_1.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_49FB/uncertainties.yaml
  validphys2/src/validphys/commondataparser.py
  validphys2/src/validphys/cuts/filters.yaml
  validphys2/src/validphys/cuts/lockfiles/31_filters.lock.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain, ATLAS_DY_DATA, Done

#2238 Revision of CMS inclusive DY data
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_7TEV_ELECTRON/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_7TEV_ELECTRON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_7TEV_ELECTRON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_7TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_7TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_7TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_8TEV_MUON/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_8TEV_MUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WPWM_8TEV_MUON/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_Z0_7TEV_DIMUON/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_Z0_7TEV_DIMUON/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_Z0_7TEV_DIMUON/metadata.yaml
  validphys2/src/validphys/cuts/filters.yaml
Labels: data toolchain, regenerate-data, Done

#2137 Make the code compatible with other keras backends
  .github/workflows/pytorch_test.yml
  .github/workflows/tests.yml
  conda-recipe/meta.yaml
  doc/sphinx/source/get-started/nnpdfmodules.rst
  doc/sphinx/source/n3fit/index.rst
  doc/sphinx/source/n3fit/methodology.rst
  doc/sphinx/source/n3fit/runcard_detailed.rst
  doc/sphinx/source/tutorials/run-fit.rst
  n3fit/src/n3fit/backends/keras_backend/MetaModel.py
  n3fit/src/n3fit/backends/keras_backend/base_layers.py
  n3fit/src/n3fit/backends/keras_backend/callbacks.py
  n3fit/src/n3fit/backends/keras_backend/constraints.py
  n3fit/src/n3fit/backends/keras_backend/internal_state.py
  n3fit/src/n3fit/backends/keras_backend/operations.py
  n3fit/src/n3fit/checks.py
  n3fit/src/n3fit/io/writer.py
  n3fit/src/n3fit/layers/DY.py
  n3fit/src/n3fit/layers/losses.py
  n3fit/src/n3fit/layers/mask.py
  n3fit/src/n3fit/layers/msr_normalization.py
  n3fit/src/n3fit/layers/observable.py
  n3fit/src/n3fit/model_gen.py
  n3fit/src/n3fit/model_trainer.py
  n3fit/src/n3fit/msr.py
  n3fit/src/n3fit/performfit.py
  n3fit/src/n3fit/tests/test_backend.py
  n3fit/src/n3fit/tests/test_layers.py
  pyproject.toml
Labels: n3fit, run-fit-bot

#2202 Reimplement ATLAS_WPWM_7TEV_46FB
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_10.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_9.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/rawdata/wzrap11_full.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_46FB/uncertainties.yaml
  validphys2/src/validphys/commondataparser.py
Labels: data toolchain, ATLAS_DY_DATA

#2218 Implement double differential distributions in ATLAS_TTBAR_13TEV_LJ_DIF
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/artunc_2d.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_d2Sig_dmttBar_dpTt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_d2Sig_dmttBar_dpTt_norm.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_d2Sig_dpTt_dyt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_d2Sig_dpTt_dyt_norm.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/kinematics_d2Sig_dmttBar_dpTt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/kinematics_d2Sig_dmttBar_dpTt_norm.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/kinematics_d2Sig_dpTt_dyt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/kinematics_d2Sig_dpTt_dyt_norm.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_d2Sig_dmttBar_dpTt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_d2Sig_dmttBar_dpTt_norm.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_d2Sig_dpTt_dyt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_d2Sig_dpTt_dyt_norm.yaml
  validphys2/src/validphys/cuts/filters.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain

#2207 Reimplement Atlas WPWM and Z 13 TeV TOT
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/rawdata/HEPData-ins1436497-v1-Table_11.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/rawdata/HEPData-ins1436497-v1-Table_8.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/rawdata/HEPData-ins1436497-v1-Table_9.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/rawdata/HEPData-ins1436497-v1-Table_11.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/rawdata/HEPData-ins1436497-v1-Table_8.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/rawdata/HEPData-ins1436497-v1-Table_9.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/uncertainties.yaml
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data

#2175 Reimplement hera datasets
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/data_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/data_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/filter.py
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/kinematics_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/kinematics_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/rawdata/HERA1+2_CCem.dat
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/rawdata/HERA1+2_CCep.dat
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/uncertainties_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_CC_318GEV/uncertainties_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_225GEV/data_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_225GEV/filter.py
  nnpdf_data/nnpdf_data/commondata/HERA_NC_225GEV/kinematics_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_225GEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_225GEV/rawdata/HERA1+2_NCep_460.dat
  nnpdf_data/nnpdf_data/commondata/HERA_NC_225GEV/uncertainties_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_251GEV/data_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_251GEV/filter.py
  nnpdf_data/nnpdf_data/commondata/HERA_NC_251GEV/kinematics_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_251GEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_251GEV/rawdata/HERA1+2_NCep_575.dat
  nnpdf_data/nnpdf_data/commondata/HERA_NC_251GEV/uncertainties_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_300GEV/data_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_300GEV/filter.py
  nnpdf_data/nnpdf_data/commondata/HERA_NC_300GEV/kinematics_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_300GEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_300GEV/rawdata/HERA1+2_NCep_820.dat
  nnpdf_data/nnpdf_data/commondata/HERA_NC_300GEV/uncertainties_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/data_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/data_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/filter.py
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/kinematics_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/kinematics_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/rawdata/HERA1+2_NCem.dat
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/rawdata/HERA1+2_NCep_920.dat
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/uncertainties_EM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV/uncertainties_EP-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/data_BOTTOM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/data_CHARM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/filter.py
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/kinematics_BOTTOM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/kinematics_CHARM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/rawdata/d18-037.tableBeauty.txt
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/rawdata/d18-037.tableCharm.txt
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/uncertainties_BOTTOM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/commondata/HERA_NC_318GEV_EAVG/uncertainties_CHARM-SIGMARED.yaml
  nnpdf_data/nnpdf_data/filter_utils/hera_utils.py
Labels: data toolchain
