Repository NNPDF/nnpdf, pull requests merged in 2024-02, with the labels that each got.

#1944 Automate regression updates
  .github/workflows/redo_regressions.yml
  extra_tests/conftest.py
  extra_tests/readme.md
  extra_tests/regression_checks.py
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/trainable_prepro_61.json
  n3fit/src/n3fit/tests/test_fit.py
Labels: redo-regressions

#1945 Added lru caches to speed up validphys multi-replica initalization
  conda-recipe/meta.yaml
  pyproject.toml
  validphys2/src/validphys/commondata.py
  validphys2/src/validphys/config.py
  validphys2/src/validphys/core.py
  validphys2/src/validphys/covmats.py
  validphys2/src/validphys/filters.py
  validphys2/src/validphys/utils.py
Labels: escience

#1951 Remove bugged raise Error when using multiple covmats
  n3fit/src/n3fit/backends/keras_backend/operations.py
  validphys2/src/validphys/config.py
Labels: bug

#1952 Drop the sqr and label the y
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_1JET_13TEV_DIF/filter.py
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_1JET_13TEV_DIF/kinematics.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_1JET_13TEV_DIF/kinematics_altcorr1.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_1JET_13TEV_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_2JET_13TEV_DIF/filter.py
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_2JET_13TEV_DIF/kinematics.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_2JET_13TEV_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_1JET_13TEV_DIF/filter.py
  validphys2/src/validphys/datafiles/new_commondata/CMS_1JET_13TEV_DIF/kinematics_r04.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_1JET_13TEV_DIF/kinematics_r07.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_1JET_13TEV_DIF/metadata.yaml
Labels: data toolchain

#1953 drop figure_by when not required
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_TOT/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_7TEV_TOT/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_8TEV_2L_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_8TEV_LJ_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_8TEV_TOT/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_13TEV_2L_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_13TEV_LJ_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_13TEV_TOT/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_5TEV_TOT/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_7TEV_TOT/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_8TEV_LJ_DIF/metadata.yaml
  validphys2/src/validphys/datafiles/new_commondata/CMS_TTBAR_8TEV_TOT/metadata.yaml
Labels: data toolchain

#1957 drop sys breakdown in favor of covmat
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dmttBar.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dmttBar_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dpTt.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dpTt_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dyt.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dyt_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dyttBar.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/data_dSig_dyttBar_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/filter.py
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dmttBar.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dmttBar_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dpTt.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dpTt_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dyt.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dyt_norm.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dyttBar.yaml
  validphys2/src/validphys/datafiles/new_commondata/ATLAS_TTBAR_13TEV_LJ_DIF/uncertainties_dSig_dyttBar_norm.yaml
Labels: data toolchain

#1926 Remove charm sumrule
  extra_tests/regression_checks.py
  extra_tests/regression_fits/central_16.json
  extra_tests/regression_fits/diagonal_45.json
  extra_tests/regression_fits/feature_scaling_81.json
  extra_tests/regression_fits/flavour_29.json
  extra_tests/regression_fits/no_csr.yml
  extra_tests/regression_fits/no_csr_613.exportgrid
  extra_tests/regression_fits/no_csr_613.json
  extra_tests/regression_fits/no_lagrange_27.json
  extra_tests/regression_fits/no_msr_92.json
  extra_tests/regression_fits/no_sumrules_18.json
  extra_tests/regression_fits/no_vsr_54.json
  extra_tests/regression_fits/normal_fit_72.json
  extra_tests/regression_fits/trainable_prepro_61.json
  extra_tests/regression_fits/weights_casymm.h5
  n3fit/src/n3fit/checks.py
  n3fit/src/n3fit/layers/msr_normalization.py
  pyproject.toml
Labels: redo-regressions

#1963 Add a stable reference report
  .github/workflows/fitbot.yml
Labels: run-fit-bot
