Repository NNPDF/nnpdf, pull requests merged in 2025-04, with the labels that each got.

#2307 C-factors in the API extension
  validphys2/examples/API_extension_Pineappl.ipynb
Labels: validphys, Done

#2310 Fix rapidity in SIHP-pp
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/data_highrap.yaml
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/data_lowrap.yaml
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/filter.py
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/kinematics_highrap.yaml
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/kinematics_lowrap.yaml
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/uncertainties_highrap.yaml
  nnpdf_data/nnpdf_data/commondata/STAR-2013_SHP_510GEV_PI0/uncertainties_lowrap.yaml
Labels: bug, data toolchain

#2258 True Positive and Negative rates in multiclosure weighted fits
  validphys2/examples/true_pos_neg_closuretests.yaml
  validphys2/src/validphys/closuretest/__init__.py
  validphys2/src/validphys/closuretest/multiclosure_nsigma.py
  validphys2/src/validphys/closuretest/multiclosure_nsigma_helpers.py
  validphys2/src/validphys/closuretest/multiclosure_nsigma_output.py
  validphys2/src/validphys/convolution.py
Labels: closure tests
