Repository NNPDF/nnpdf, pull requests merged in 2025-02, with the labels that each got.

#2269 correct observable: CMS_TTBAR_13TEV_LJ_2016_DIF_YTTBAR -> YT
  .pre-commit-config.yaml
  extra_tests/regression_fits/no_csr.yml
  n3fit/runcards/examples/nnpdf40-like.yml
  n3fit/runcards/hyperopt_studies/renew_hyperopt.yml
  n3fit/runcards/hyperopt_studies/restricted_search_space_renew_hyperopt.yml
  n3fit/src/n3fit/scripts/n3fit_exec.py
  nnpdf_data/nnpdf_data/__init__.py
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_13TEV_LJ_2016_DIF/data_legacy_YT.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_13TEV_LJ_2016_DIF/kinematics_YT.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_13TEV_LJ_2016_DIF/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_13TEV_LJ_2016_DIF/uncertainties_legacy_YT.yaml
  nnpdf_data/nnpdf_data/commondata/dataset_names.yml
  validphys2/examples/future_test_example.yaml
  validphys2/src/validphys/commondataparser.py
  validphys2/src/validphys/config.py
  validphys2/src/validphys/loader.py
  validphys2/src/validphys/tests/test_loader.py
Labels: bug

#2274 correctly load different types of theory covmats
  n3fit/src/n3fit/scripts/n3fit_exec.py
  validphys2/src/validphys/config.py
Labels: bug

#2180 Introduce inconsistent fit closure test data
  validphys2/src/validphys/closuretest/inconsistent_closuretest/inconsistent_ct.py
  validphys2/src/validphys/config.py
  validphys2/src/validphys/coredata.py
  validphys2/src/validphys/filters.py
  validphys2/src/validphys/tests/test_inconsistent_ct.py
Labels: validphys, closure tests

#2276 Treat 1-point datasets equally in sequential and parallel fits
  .github/workflows/fitbot.yml
  doc/sphinx/source/n3fit/runcard_detailed.rst
  n3fit/src/n3fit/model_gen.py
  n3fit/src/n3fit/model_trainer.py
  n3fit/src/n3fit/scripts/n3fit_exec.py
  n3fit/src/n3fit/stopping.py
  n3fit/src/n3fit/tests/test_fit.py
  validphys2/src/validphys/n3fit_data.py
  validphys2/src/validphys/n3fit_data_utils.py
  validphys2/src/validphys/pdfgrids.py
Labels: n3fit, run-fit-bot

#2246 Implementing ATLAS_PH-8TEV_XSEC
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/data_XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/kinematics_XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/rawdata/HEPData-ins1457605-v1-Table_1.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/rawdata/HEPData-ins1457605-v1-Table_2.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/rawdata/HEPData-ins1457605-v1-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/rawdata/HEPData-ins1457605-v1-Table_4.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_PH_8TEV/uncertainties_XSEC.yaml
Labels: data toolchain

#2283 Checking correlation of luminosity uncertainty in LHC data
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/uncertainties_altcorr1_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_1JET_13TEV_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_2JET_13TEV_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_2JET_13TEV_DIF/uncertainties_lumi.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_13TEV_TOT/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_7TEV_TOT/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_8TEV_TOT/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_13TEV/uncertainties_legacy_TOT.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_13TEV/uncertainties_legacy_TOT.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_SINGLETOP_7TEV/uncertainties_TCHANNEL-XSEC.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_13TEV_TOT/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_7TEV_TOT/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_TTBAR_8TEV_TOT/uncertainties.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/uncertainties_WPWM-TOT-UNNORM.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/uncertainties_dielectron.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV/uncertainties_dimuon.yaml
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV_2022/filter.py
  nnpdf_data/nnpdf_data/commondata/LHCB_Z0_13TEV_2022/uncertainties_dimuon_y.yaml
Labels: regenerate-data
