Repository NNPDF/nnpdf, pull requests merged in 2025-01, with the labels that each got.

#2244 New implementation of CMS_WCHARM_13TEV_WPWM-TOT-UNNORM
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/data_WPWM-TOT-UNNORM.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/filter.py
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/kinematics_WPWM-TOT-UNNORM.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/kinematics_legacy_WPWM-TOT-UNNORM.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/rawdata/WplusCharm_AbsEtaMu_Table.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/sys_uncertainties.py
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/uncertainties_WPWM-TOT-UNNORM.yaml
  nnpdf_data/nnpdf_data/commondata/CMS_WCHARM_13TEV/uncertainties_legacy_WPWM-TOT-UNNORM_sys_10.yaml
Labels: data toolchain

#2206 Reimplement Atlas Z0 8 TeV HIMASS
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/rawdata/HEPData-ins1467454-v1-Table_2.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_HIMASS/uncertainties.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data

#2223 Reimplement ATLAS WPWM 7TeV 36PB
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/rawdata/ATLAS-36PB_WPWM.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/rawdata/ATLAS-36pb-Wmlrap.data
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/rawdata/ATLAS-36pb-Wplrap.data
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/rawdata/HEPData-ins928289-v1-Table_3.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/rawdata/HEPData-ins928289-v1-Table_5.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_WPWM_7TEV_36PB/uncertainties.yaml
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data

#2237 Reimplement ATLAS Z0 7TEV 46FB Dataset
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/data_cc.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/data_cf.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/kinematics_cc.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/kinematics_cf.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_11.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_12.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_13.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_14.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/HEPData-ins1502620-v1-Table_15.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/zy_cc.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/zy_cf.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/zyhigh_cf.dat
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/rawdata/zypeak_cf.dat
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/uncertainties_cc.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_46FB/uncertainties_cf.yaml
  validphys2/src/validphys/process_options.py
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data

#2250 Reimplement ATLAS_Z0_7TEV_36PB Dataset
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/rawdata/ATLAS-36PB_Z.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/rawdata/HEPData-ins928289-v1-Table_1.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_36PB/uncertainties.yaml
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data

#2261 Update luminosity name from ATLASLUMI8 to ATLASLUMI12
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_8TEV_LJ_DIF/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_8TEV_LJ_DIF/uncertainties_dSig_dmttBar.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_8TEV_LJ_DIF/uncertainties_dSig_dpTt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_8TEV_LJ_DIF/uncertainties_dSig_dyt.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_TTBAR_8TEV_LJ_DIF/uncertainties_dSig_dyttBar.yaml
Labels: data toolchain, regenerate-data

#2171 Reimplement ATLAS Z0 7 TeV Low mass
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/kinematics_M.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/rawdata/ATLASLOMASSDY11EXT.csv
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/rawdata/HEPData-ins1288706-v1-Table_6.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_7TEV_LOMASS/uncertainties.yaml
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data

#2205 Reimplement Atlas Z0 8 TeV lowmass
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/data.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/filter.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/filter_utils.py
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/kinematics.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/kinematics_M-Y.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/metadata.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/rawdata/HEPData-ins1630886-v1-Table_5.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/rawdata/HEPData-ins1630886-v3-Table_5.yaml
  nnpdf_data/nnpdf_data/commondata/ATLAS_Z0_8TEV_LOWMASS/uncertainties.yaml
  validphys2/src/validphys/cuts/filters.yaml
Labels: data toolchain, ATLAS_DY_DATA, regenerate-data
